<div>
    <strong text="$data.additionalFieldName()"></strong><br>
    <strong text="$data.additionalFieldType()"></strong><br>
    <if args="$data.marketplaceValue.required">
        <span translate="'Required'"></span><br>
    </if>
    <ifnot args="$data.marketplaceValue.required">
        <span translate="'Not Required'"></span><br>
    </ifnot>
    <div class="mirakl-additional-field-values">
        <strong translate="'Your values'"></strong><br>
        <each args="{
            data: formatPreviews([
                {
                    items: 'default',
                    prefix: 'Default:'
                },
                {
                    items: 'attribute',
                    prefix: 'Attribute:'
                }
            ]),
            as: '$preview'}"
        >
            <div class="mirakl-field-item">
                <span html="$parent.buildPreview($preview)"></span>
                <ifnot args="$parent.hasPreview($preview)"><span translate="'Not set'" class="not-set"></span></ifnot>
            </div>
        </each>
    </div>
</div>
