<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="mirakl_api_connection_delete_before">
        <observer name="mirakl_seller_sales" instance="MiraklSeller\Sales\Observer\Connection\DeleteObserver" />
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="mirakl_seller_sales_shipment_save" instance="MiraklSeller\Sales\Observer\Sales\Order\ShipmentSaveAfterObserver" />
    </event>
    <event name="order_cancel_after">
        <observer name="mirakl_seller_sales" instance="MiraklSeller\Sales\Observer\Sales\Order\CancelObserver" />
    </event>
</config>
