<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MiraklSeller_Sales::orders" title="Mirakl Orders" translate="title" module="MiraklSeller_Sales" action="mirakl_seller/order" sortOrder="30" parent="MiraklSeller_Api::head" resource="MiraklSeller_Sales::orders"/>
        <add id="MiraklSeller_Sales::config" title="Mirakl Orders" module="MiraklSeller_Sales" sortOrder="30" parent="MiraklSeller_Api::config" resource="MiraklSeller_Sales::config" action="adminhtml/system_config/edit/section/mirakl_seller_sales/"/>
    </menu>
</config>