<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <!-- Admin Menu -->
            <resource id="Magento_Backend::admin">
                <resource id="MiraklSeller_Api::head">
                    <resource id="MiraklSeller_Core::listings" title="Listings" sortOrder="20"/>
                </resource>
                <!-- Admin config -->
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="MiraklSeller_Core::config" title="Mirakl Seller Core" sortOrder="230"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
