<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="mirakl_seller_prepare_listing_edit">
        <observer name="mirakl_seller" instance="MiraklSeller\Core\Observer\Listing\PrepareListingEdit" />
    </event>
</config>
