<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MiraklSeller_Core::listings" title="Listings" translate="title" module="MiraklSeller_Api" action="mirakl_seller/listing" sortOrder="20" parent="MiraklSeller_Api::head" resource="MiraklSeller_Core::listings"/>
        <add id="MiraklSeller_Core::config" title="General" module="MiraklSeller_Core" sortOrder="10" parent="MiraklSeller_Api::config" resource="MiraklSeller_Config::core" action="adminhtml/system_config/edit/section/mirakl_seller_core/"/>
    </menu>
</config>